<?xml version="1.0"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">

<gui name="actionsui" version="1">
    <Menu name="actions-popup-menu">
        <Action name="paste_selected"/>
        <Action name="empty_selected"/>
        <Action name="fill_selected"/>
    </Menu>
</gui>