[GOLColony]
Name=Gliders
Name[de]=Segelflugzeuge
Name[en]=Gliders
Name[es]=Planeadoras
Name[ru]=Глайдеры
Description=A simple collection of gliders
Description[en]=A simple collection of gliders
Description[de]=Segelflugzeugeanzahl
Description[es]=un montón de las planeadoras
Description[ru]=Набор глайдеров
VersionFormat=1
Author=Eugene E. Sorochinskiy
Author[ru]=Евгений Сорочинский
Author[de]=Eugen Soroschinskii
AuthorEmail=webmaster@darkguard.net
FileName=gliders.kgol
