[GOLColony]
Name=Glider gun
Name[de]=Segelfliegergewehr
Name[en]=Glider gun
Name[es]=Pistola de las planeadoras
Name[ru]=Глайдерное ружье
Description=One of glider guns
Description[en]=One of glider guns
Description[de]=Eines von Segelfliegergewehren
Description[es]=Una de las pistolas de las planeadoras
Description[ru]=Один из вариантов глайдерного ружья
VersionFormat=1
Author=Eugene E. Sorochinskiy
Author[ru]=Евгений Сорочинский
Author[de]=Eugen Sorotschinskii
AuthorEmail=webmaster@darkguard.net
FileName=glider_gun.kgol
